.main {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 #0e0d1033;
  max-width: 500px;
  margin: auto;
  min-height: 300px;
  background-color: var(--primary-color);
  border-radius: var(--rounded);
  color: var(--text-light);
}

.loginForm {
  width: 100%;
  padding: 1rem;
}

.formGroup {
  padding: 0 10px;
}

.loginForm label {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.loginForm input {
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  height: 2rem;
  border-radius: var(--rounded);
  border: none;
  padding: 10px;
}

.submit {
  width: 100%;
  max-width: 200px;
  height: 2rem;
  border: none;
  background-color: var(--secondary-color);
  font-weight: bold;
  border-radius: var(--rounded);
}
