:root {
  --primary-color: #1c2c85;
  --secondary-color: #00ffff;
  --tertiary-color: #000;
  --text-light: #fff;
  --rounded: 5px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 80vh;
}
