:root {
  --primary-color: #1c8541;
  --secondary-color: #dfffdf;
  --tertiary-color: #000;
  --text-light: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}
