:root {
  --primary-color: #1c2c85;
  --secondary-color: #857f74;
  --tertiary-color: #191716;
  --text-light: #f3f5f8;
  --rounded: 5px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 80vh;
}

::placeholder {
  color: var(--tertiary-color);
}
