.main {
  max-width: 1440px;
  margin: auto;
}

.productNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.productNavGroup {
  margin-bottom: 1rem;
}

.productNav select,
.productNav input,
.productNav button {
  margin: 0 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  border-radius: var(--rounded);
  height: 2rem;
  box-sizing: border-box;
}

.searchButton {
  font-weight: bold;
}

.productSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.pagination button {
  border: 1px solid var(--primary-color);
  font-weight: bold;
  border-radius: var(--rounded);
  margin: 1px;
}

.active {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.inactive {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .productNav {
    flex-direction: column-reverse;
    align-items: center;
  }
  .productNavGroup {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .productNavGroup input {
    width: 360px;
  }
  .productNavGroup select {
    width: 209px;
  }
}

@media screen and (max-width: 368px) {
  .productNavGroup {
    flex-direction: column;
  }
  .productNavGroup select,
  .productNavGroup input,
  .productNavGroup button {
    width: 100%;
    margin-bottom: 10px;
  }
}
